* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #C8D96F;
    color: #5C573E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    background-color: #C4F7A1;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

h1 {
    font-size: 2.5rem;
    color: #A55452;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

#map {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

#map:hover {
    transform: scale(1.02);
}

.info-panel {
    background-color: #9BA7C0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1.5s ease-in-out;
}

h2 {
    font-size: 1.8rem;
    color: #5C573E;
}

p {
    font-size: 1.2rem;
}

span {
    color: #A55452;
    font-weight: bold;
}

.character {
    position: absolute;
    bottom: -20px;
    right: -10px;
    width: 120px;
    height: auto;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

